<div class="container">
  <h1 class="main-title">Buddy Board</h1>
  <div class="form-box">
    <h2 id="sorry">Sorry about that!</h2>
    <p id="para">
      If you have forgotten your password, please enter your email here and you
      will receive a link to reset your password.
    </p>
    <p></p>
    <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="email">Your Email</label>
        <input
          id="email"
          formControlName="email"
          type="email"
          class="input"
          required
        />
      </div>
      <button type="submit" class="submit-button">Submit</button>
      <div class="loader" *ngIf="isLoading">Loading...</div>
    </form>
    <div class="message" *ngIf="message">{{ message }}</div>
    <div class="form-section">
      <p>Want to try logging in? <a href="/signin">Click here</a></p>
    </div>
  </div>
  <footer class="footer">
   Buddy Board. All rights reserved. 2024
  </footer>
</div>
