<body>
  <div class="container">
    <header class="header">
      <h1>Buddy Board</h1>
    </header>

    <main class="main-content">
      <div class="box">
        <p>Welcome aboard!</p>
        <p>
          You must have received an email at <strong>{{ email }}</strong
          >. Please click on the link to complete your registration!
        </p>
        <a href="/signin" class="link">Already signed up? Sign in here.</a>
      </div>
    </main>

    <footer class="footer">
      <p>Footer, Study Buddies, All rights reserved, 2024</p>
    </footer>
  </div>
</body>
