<div class="container">
    <header>
      <h1>Buddy Board</h1>
      <nav>
        <a routerLink="/dashboard">Feed</a>
        <a routerLink="/cardpage" class="active">Cards</a>
        <a routerLink="/deckPage">Decks</a>
        <a routerLink="/signin">Logout</a>
      </nav>
    </header>

  <main>
    <div class="controls">
      <button class="new-card-btn" routerLink="/flashcard">New Card</button>
    </div>
    <br />
    <h2>My Cards</h2>

    <div class="notes-container">
      <div
        class="note-card"
        *ngFor="let card of cards"
        (click)="navigateToCardDetails(card._id)"
        style="cursor: pointer;"
      >
        <div class="note-link">
          <div class="note">
            <div class="horizontal-lines">
              <div></div>
              <div></div>
              <div></div>
            </div>
          </div>
          <p class="note-title"> {{ card.title }} </p>
        </div>
      </div>
    </div>
  </main>

  <footer>
    <p>Buddy Board, All rights reserved, 2024</p>
  </footer>
</div>
