.nav-box{
    height: 100px;
    width:100%;
    
    justify-content: center;
    align-items: center;
    background-color: black;
    color:white;
}
.list{
    display: flex;
    justify-content: space-around;
}