<div class ='overlay' [class.showoverlay]="isModalVisible" (click)="onCancel()"></div>
<div class='form-container' [class.showDeckForm]="isModalVisible">
    <span (click)="onCancel()">&times;</span>
    <!-- Form -->
    <form [formGroup]='deckForm' (ngSubmit)="onSubmit()">
      <!-- Deck Name -->
      <div class="form-group">
        <label for="deckName">Deck Name</label>
        <input
          type="text"
          id="deckName"
          formControlName="deckName"
          placeholder="Enter deck name"
          required
        />
        <div *ngIf="deckForm.get('deckName')?.touched && deckForm.get('deckName')?.invalid">
          <small *ngIf="deckForm.get('deckName')?.hasError('required')">Deck Name is required.</small>
          <small *ngIf="deckForm.get('deckName')?.hasError('minlength')">Deck Name must be at least 3 characters long.</small>
          <small *ngIf="deckForm.get('deckName')?.hasError('maxlength')">Deck Name cannot exceed 100 characters.</small>
        </div>
      </div>

      <!-- Action Buttons -->
      <div class="action-buttons">
        <div class ="submit">
          <button type="submit" [disabled]="deckForm.invalid">Create Deck</button>
        </div>
        <div class ="cancel">
          <button type="button" (click)="onCancel()">Cancel</button>
        </div>
      </div>
    </form>

    <!-- Feedback Message -->
    <div *ngIf="feedbackMessage" class="feedback-message">
      <p>{{ feedbackMessage }}</p>
    </div>

</div>