
<div class="form-box">
    <form class="form" >
        <span class="title">Login </span>
        <span class="subtitle">Welcome Back, Please login to your account.</span>
        <div class="form-container">
                <input type="email" class="input" placeholder="Email"  required email>
                <input type="password" class="input" placeholder="Password" required minlength="6">
                
        </div>
        <a routerLink= "">Forget Password?</a> 
        <button>Login</button>
    </form>
    <div class="form-section">
      <p>Don't have an Account yet? <a routerLink= "/sign-up"> Sign up </a> </p>
    </div>
    </div>