* {
  margin: 0;
  padding: 0;
}

.main-title {
  font-size: 3rem;
  font-weight: bold;
  color: rgb(8, 0, 0);
  text-align: center;
  margin-top: 12px;
  font-family: "Papyrus", fantasy;
}
.container {
  font-family: 'Papyrus', 'Arial', sans-serif;
  background-color: #c0c0c0;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.flashcard-form { 
  width: 800px;
  padding: 20px 1px 1px 20px;
  background-color: rgb(227, 227, 14);
  border: 1px solid #010101;
  font-family: "Papyrus", fantasy;
}
.flashcard-form h2 {
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  color: #000000;
  margin-bottom: 20px;
  font-family: "Papyrus", fantasy;
}
.flashcard-form div {
  margin-bottom: 20px;
}
.flashcard-form label {
  font-size: 1.25rem;
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  font-family: "Papyrus", fantasy;
}
.flashcard-form input {
  width: 90%;
  padding: 5px;
  font-size:16px;
  border: 1px solid #010101;
  background: white;
  color:blue;
  font-family: "Papyrus", fantasy;
}
.flashcard-form input:focus {
  outline: none;
  border-color:black;
}
.flashcard-form textarea {
  width: 90%;
  height: 100px;
  padding: 5px;
  font-size: 16px; 
  border: 1px solid #010101; 
  background: white;
  color:blue; 
  font-family: "Papyrus", fantasy;
  resize: none; 
}
.flashcard-form textarea:focus {
  outline: none;
  border-color: rgb(0, 0, 0); /* Same focus style as the input */
}
.flashcard-form small {
  font-size: 0.9rem;
  display: block;
  margin-top: 5px;
  color: red;
  font-weight: bold;
}
.button-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flashcard-form button {
  font-family: 'Papyrus', 'Arial', sans-serif;
  font-weight: bolder;
  width: 15%;
  background-color: rgb(20, 207, 210);
  color: black;
  border: 1px solid black;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  margin-right: 4.2rem;
  margin-left:1.2rem;
}
.flashcard-form button:hover {
  background-color: rgb(15, 177, 180);
}
.flashcard-form button[type="submit"]:disabled,
.flashcard-form button[type="button"]:disabled {
  background-color: #c0c0c0;
  cursor: not-allowed;
}
.title{
  margin-left: 20px;
  display: flex;
  flex-direction: column;
}
.content{
  margin-left: 20px;
  display: flex;
  flex-direction: column;
 }
footer {
  text-align: center;
  font-size: 0.9rem;
  font-family: 'Papyrus', 'Arial', sans-serif;
  font-weight: bold;
  margin-top: auto;
  padding: 10px 0;
  background-color: #c0c0c0;
}