* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Papyrus", fantasy;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 100vh;
  background-color: #d3d3d3;
  margin: 0;
  width: 100%;
}

/* Header */
.title {
  font-size: 4rem;
  font-weight: bold;
  color: rgb(8, 0, 0);
  position: absolute;
  top: 10px;
  text-align: center;
  width: 100%;
  font-family: "Papyrus", fantasy;
}

/* Main Content */
.container {
  width: 100vw;
  height: 100vh;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #c0c0c0;
  border: 4px solid black;
  box-sizing: border-box;
  font-family: "Papyrus", fantasy;
}

.reset-box {
  width: 300px;
  height: 400px;
  padding: 20px;
  background: #ffffff;
  border: 2px solid black;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: left;
}

.reset-box p {
  font-weight: bold;
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: "Papyrus", fantasy;
}
label {
  font-size: 1rem;
  color: #333;
  font-weight: bold;
  display: block;
  margin-bottom: 1px;
  text-align: left;
  font-family: "Papyrus", fantasy;
}
.reset-box form {
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.reset-box input {
  width: 100%;
  height: 30px;
  background-color: #e0e0e0;
  border: 1px solid #080808;
  font-size: 0.9rem;
  outline: none;
  transition: border-color 0.3s;
}

.button {
  width: 100px;
  padding: 10px;
  background-color: #87ceeb;
  color: #070000;
  border: 1px solid #080808;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
  margin: 25px auto 30px auto;
  display: block;
  font-family: "Papyrus", fantasy;
}

.link {
  font-weight: bold;
  color: #0066ff;
  text-decoration: none;
  margin-top: 30px;
  text-align: center;
  font-family: "Papyrus", fantasy;
}

/* Footer */
.footer {
  width: 100%;
  text-align: center;
  font-size: 0.9rem;
  color: rgb(12, 12, 12);
  font-weight: bold;
  font-family: "Papyrus", fantasy;
  margin-top: auto;
  padding: 10px;
  position: fixed;
  bottom: 0;
  left: 0;
}
