<!-- Header -->
<h1 class="title">Buddy Board</h1>

<!-- Main Content -->
<div class="container">
  <div class="reset-box">
    <p>
      Just one last step,<br />Confirm your new password<br />and you can now
      login with<br />the new one
    </p>
    <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
      <!-- Password Field -->
      <label for="password">Password</label>
      <div class="password-container">
        <input
          [type]="showPassword ? 'text' : 'password'"
          id="password"
          formControlName="password"
          required
        />
        <button
          type="button"
          class="toggle-visibility"
          (click)="togglePasswordVisibility()"
        >
          {{ showPassword ? "👁" : "🙈" }}
        </button>
      </div>
      <!-- Password validation errors -->
      <div
        *ngIf="
          resetPasswordForm.get('password')?.invalid &&
          resetPasswordForm.get('password')?.touched
        "
      >
        <small *ngIf="resetPasswordForm.get('password')?.hasError('required')">
          Password is required.
        </small>
        <small *ngIf="resetPasswordForm.get('password')?.hasError('minlength')">
          Password must be at least 6 characters long.
        </small>
      </div>

      <!-- Confirm Password Field -->
      <label for="confirm-password">Confirm Password</label>
      <div class="password-container">
        <input
          [type]="showConfirmPassword ? 'text' : 'password'"
          id="confirm-password"
          formControlName="confirmPassword"
          required
        />
        <button
          type="button"
          class="toggle-visibility"
          (click)="toggleConfirmPasswordVisibility()"
        >
          {{ showConfirmPassword ? "👁" : "🙈" }}
        </button>
      </div>
      <!-- Confirm Password validation errors -->
      <div
        *ngIf="
          resetPasswordForm.get('confirmPassword')?.invalid &&
          resetPasswordForm.get('confirmPassword')?.touched
        "
      >
        <small
          *ngIf="resetPasswordForm.get('confirmPassword')?.hasError('required')"
        >
          Confirm password is required.
        </small>
      </div>

      <!-- Error message if passwords don't match -->
      <div
        *ngIf="resetPasswordForm.errors?.['mismatch'] && resetPasswordForm.touched"
      >
        <small>Passwords do not match.</small>
      </div>

      <button
        type="submit"
        class="button"
        [disabled]="resetPasswordForm.invalid || loading"
      >
        <span *ngIf="!loading">Reset</span>
        <span *ngIf="loading">Resetting...</span>
      </button>
    </form>
    <a href="/signin" class="link" [class.disabled]="loading">Go back to Sign in</a>
  </div>
</div>

<!-- Footer -->
<footer class="footer">Footer. Study Buddies. All rights reserved. 2024</footer>