<div class="form-box">
    <form class="form">
      <span class="title">Reset Password</span>
      <span class="subtitle">Just one last step, Confirm your new passsword and you can now login with the new one!!</span>
      <div class="form-container">
        <input type="password" class="input" placeholder="New Password">
        <input type="password" class="input" placeholder="Confirm Password">
      </div>
      <button>Reset</button>
    </form>
    <div class="form-section">
       <a href=" ">Go back to sign in</a>
    </div>
  </div>
  
  